.card_post {
  display: flex;
  height: calc(100vh - 170px); /* Высота контейнера - высота футера  */
  background-color: #2a2d34;
  width: 100%;
  margin: 15px 0px 15px 0px;
  box-shadow: 0 0 15px rgba(17, 17, 17, 0.8);
}
.card_post_img {
  width: 60%;
  overflow: hidden;
}
.post_img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}
